<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>wws 笔记编辑</title>
    
    <link rel="icon" href="/icon/favicon.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/css/dashboard.css" rel="stylesheet">
    <link href="/css/blog.css" rel="stylesheet">
</head>
<body>
<#include "/common_page/backTitle.txt">
<div class="container-fluid">
	<div class="row">
        <#include "/common_page/backMenu.txt">
        <div class="col-sm-8 col-sm-offset-2 main">

			<div class="container">
				<div class="blog-header"> </div>
				<form role="form">
				    <label for="title" class="sr-only">笔记标题</label>
				    <input type="text" id="blogId" value='${blogId!""}' style="display:none">
					<textarea rows="1" id = "title" class="form-control" placeholder="笔记标题" required autofocus>${blogTitle!""}</textarea>
				    <div id="editor">
				        ${blogHtml!"<p>笔记内容</p>"}
				    </div>
				    
				    <div>
				    <label for="pseudonym">选择署名</label>
					<select id="pseudonym" name="pseudonym" class="form-control">
					<#if pseudonymId??>
						<option value="${pseudonymId}">${pseudonymName}</option>
					<#else>
						<#list pseudonyms as psemap>
						<option value='${psemap["pseudonym_id"]}'>${psemap["pseudonym"]}</option>
						</#list>
					</#if>
					</select>
					</div>
					<div>
					<label for="isVisible">是否公开</label>
				    <select id="isVisible" name="isVisible" class="form-control">
					    <option value="1" 
					    <#if isVisible?? && isVisible==1>
					    selected="selected"
					    </#if>
					    >公开</option>
					    <option value="0"
					    <#if isVisible?? && isVisible==0>
					    selected="selected"
					    </#if>
					    >不公开</option>
				    </select>
				    </div>
				    <button id="write" type="button">提交</button>
				</form>
			</div>
		</div>
	</div>
</div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/ie-emulation-modes-warning.js"></script>
    <script src="/js/ie10-viewport-bug-workaround.js"></script>
    <!-- 注意， 只需要引用 JS，无需引用任何 CSS ！！！-->
    <script type="text/javascript" src="/js/wangEditor.min.js"></script>
    <script type="text/javascript">
    	$("#writeBlogLi").addClass("active");
    
        var E = window.wangEditor;
        var editor = new E('#editor');
        editor.create();
        
        
        $("#write").click(function(){
        	var blogId = $("#blogId").val();
        	var htmlV = editor.txt.html().replace(/\\/g, "\\\\");;
        	var textV = editor.txt.text().replace(/\\/g, "\\\\");;
        	var title = $("#title").val();
        	var pseudonymId = $("#pseudonym").val();
        	var pseudonymName = $("#pseudonym").find("option:selected").text();
        	var isVisible = $("#isVisible").val();
        	$.ajax({
			    url:'/doWriteBlog',
			    type:'POST', //GET
			    async:true,    //或false,是否异步
			    data:{
			    	blogId:blogId,
			    	title:title,
			        htmlV:htmlV,
			        textV:textV,
			        pseudonymId:pseudonymId,
			        pseudonymName:pseudonymName,
			        isVisible:isVisible
			    },
			    timeout:5000,    //超时时间
			    dataType:'json',    //返回的数据格式：json/xml/html/script/jsonp/text
			    success:function(data,textStatus){
		        	console.info(data);
			        if (data.status == "SUCCESS") {
			        	window.location.href = "/showMyBlog";
			        } else if (data.status == "noLogin") {
			        	alert(data.msg);
			        	window.open("/showSignin");
			        } else {
			        	alert(data.msg);
			        }
			    }
			});
  		});
    </script>
</body>
</html>
