<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>事须渐修</title>

    <script src="/js/jquery.min.js"></script>
  </head>

  <body>
      <div class="zest_loading">
          <div class="load6">
              <div class="loader"></div>
          </div>
      </div>
  </body>
<script type="text/javascript">
  
    window.location.href="https://open.weixin.qq.com/connect/oauth2/authorize?appid=${appid}&redirect_uri=${redirectUri}&response_type=code&scope=snsapi_base&state=${state}#wechat_redirect";
</script>
</html>
