<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            操作示例
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link href="/layui/css/layui.css" rel="stylesheet">
        <link href="/css/mian.css" rel="stylesheet">
    </head>

    <body class="lay-blog">
    <div class="container-wrap" style="padding: 30px 0 30px 0;">
    <div class="x-body">
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>操作</th><th>示例</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>查询纪念日</td><td>cmd查询纪念日</td>
                    </tr>
                    <tr>
                        <td>修改纪念日</td><td>cmd修改纪念日 -i10002 -m六月 -d廿五 -c普天同庆</td>
                    </tr>
                    <tr>
                        <td>查询计划</td><td>cmd查询计划</td>
                    </tr>
                    <tr>
                        <td>完成计划</td><td>cmd完成计划 -i5</td>
                    </tr>
                </tbody>
            </table>

            <div id="page"></div>
        </div>
  </div>
    <script src="/js/jquery.min.js" charset="utf-8"></script>
    <script src="/layui/layui.js" charset="utf-8"></script>
    <script src="/js/x-layui.js" charset="utf-8"></script>
</body>
</html>
